@font-face {  
  font-family: "BitstreamVeraSerif";  
  src: url( VeraSe.eot ); /* IE */  
  src: local("Bitstream Vera Serif"), url(VeraSe.ttf) format("truetype"); /* non-IE */  
}  

body {
    background-color: #93beeb;
    font-family: "BitstreamVeraSerif", courier, serif;
    text-color: #000000;
    font-size: 11pt;
}

#leftcolumn {
    float: left;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0.5em;
    width: 17%;;
    overflow-y: auto;
}

#content {
    position: relative;
    margin-left: 20%;
}

#headshot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}

h1 {
    // border-bottom: 1px dashed black;
    // border-top: 1px dashed black;
    text-align: center;
    font-style: italic;
}

h2 {
    text-decoration: underline;
    cursor: pointer;
}

h2.expanded:before {
    content: "- ";
}

h2.collapsed:before {
    content: "+ ";
}
